<a href="https://colab.research.google.com/github/EphzibahBehulah/Learning-Python-Public/blob/main/Prework_Data_Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ISAAC OLUWOLE ADIGUN DATA ANALYTICS ADMISSION PROJECT 2025

**Example**

To Do:
1. Create a variable called *income* and assign 40.00 to it.
2. What dtype will the defined variable have?

In [8]:
# create a variable named income
income = (10, 20, 30)
print(income)
# assign 40
income = income + (40,)
print(income)
print(type(income))

(10, 20, 30)
(10, 20, 30, 40)
<class 'tuple'>

**I. Import Packages**

To Do: Import Pandas and Numpy

In [9]:
# import pandas
import pandas as pd
# import numpy
import numpy as np

**II. Variables and Types**

To Do:
1. Assign a equal to 3 and assign b equal to 5. Multiply the two variables and print the result.
2.  Print the type of the variable a
3.  Print the type of the variable b

In [11]:
# create a variable a and b
a = 3
b = 5
# multiply a and b and print the result
print(a * b)
# type of varuable a and b
print(type(a))
print(type(b))

15
<class 'int'>
<class 'int'>

**III. Lists**

To Do: Add the following Item to the list below:

9

In [16]:
my_list_of_numbers = [1, 15, 18, 77, 18, 18, 89, 7]

# add item
my_list_of_numbers.append(9)
# print list
print(my_list_of_numbers)
# sort list and renamed as my  new list
my_new_list = sorted(my_list_of_numbers)
print(my_new_list)

[1, 15, 18, 77, 18, 18, 89, 7, 9]
[1, 7, 9, 15, 18, 18, 18, 77, 89]

To Do: Print the 3rd to the 5th item of the list

In [19]:
my_new_sorted_list = [1, 7, 9, 15, 18, 18, 18, 77, 89]
# print the 3rd to the 5th in my new list
print(my_new_sorted_list[2:5])

[9, 15, 18]

To Do: Print the last item of the list

In [20]:
# print the last item
print(my_new_sorted_list[-1])

89

To Do: Create an array using the above-given list.

In [22]:
# create an array with the list
my_array = np.array(my_list_of_numbers)
print(my_array)

[ 1  7  9 15 18 18 18 77 89]

**IV. Dictionaries**

To Do: Print all keys and all values

In [23]:
fruits = {'apple':3,
           'pear':2,
           'banana':1
          }
# print all keys and values
print(fruits.keys())
print(fruits.values())

dict_keys(['apple', 'pear', 'banana'])
dict_values([3, 2, 1])

**V. Functions**

To Do: Create a function that takes a string as an argument and adds a exclamation point to it, and returns the result.

In [30]:
# Create a function that takes a string as an argument and adds a exclamation point to it, and returns the result.
def add_exclamation_point(input_string):
    return input_string + "!"

# print Hello!
result = add_exclamation_point("Hello")
print(result)

Hello!

**VI. Pandas**

To Do: Execute the following cell to import the Berlin Housing Dataset. Make sure you imported pandas.

In [31]:
flats = pd.read_csv('https://raw.githubusercontent.com/juliandnl/redi_ss20/master/berlin_rental.csv')

To Do: Print the first 5 rows.

In [32]:
# print the first 5 rows
print(flats.head())

        Region       Condition  Rooms     Rent  Year_Construction   Space
0        Mitte  first_time_use    4.0  2659.00               2019  117.20
1    Kreuzberg  first_time_use    1.0  1200.00               2020   29.33
2     K√∂penick       well_kept    2.0   979.00               1997   83.61
3  Wilmersdorf       well_kept    4.0  1830.22               1900  171.18
4    Kreuzberg  first_time_use    2.0  2272.00               2020   88.27

To Do: Get the type of *Condition*

In [33]:
# get the type of condition
print(flats['condition'].dtype)

KeyError: 'condition'

To Do: How many rows and columns does *flats* have?

In [34]:
# total numbers of rows and column in the flats
print(flats.shape)

(764, 6)

# Congratulations - You are Done! üëç

Now you mark your Prework as complete and finish the Application Form. In the Application Form we ask you to share the link to this Google Colab!

**Please update the sharing settings: Share with everyone. So that we can open your Colab.**